#SHELL=/bin/bash
#PATH=/usr/local/python3.12/bin:/usr/local/bin:/usr/bin:/bin

# 定时(每周日10:30)将高驰的数据同步给佳明
30 10 * * 0 /Users/luohangqi/PycharmProjects/garmin-sync-coros/.venv/bin/python /Users/luohangqi/PycharmProjects/garmin-sync-coros/scripts/coros/coros_sync_garmin.py >> /Users/luohangqi/PycharmProjects/garmin-sync-coros/log/coros_to_garmin.log 2>&1
# 定时(每天10:10)将佳明的数据同步给高驰
10 10-12 * * * /Users/luohangqi/PycharmProjects/garmin-sync-coros/.venv/bin/python /Users/luohangqi/PycharmProjects/garmin-sync-coros/scripts/garmin/garmin_sync_coros.py >> /Users/luohangqi/PycharmProjects/garmin-sync-coros/log/garmin_to_coros.log 2>&1
